@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
    <h1>Таблицы БД1</h1>
    <NameTable />
    <AmountTable />
    <PriceTable />
</div>
<hr/>
<div class="container">
    <h1>Таблицы БД2</h1>
    <h2>БД 2 основная таблица</h2>
    <ProductTable/>
    <h2>то, что не вошло в БД1</h2>
    <ProductsNotInDb1Table/>
    <h2>то, что осталось</h2>
    <ProductsOtherTable/>
</div>