@inject IDb1Service Db1Service

<table class="table table-sm">
        <thead>
            <tr>
                <th>Артикул</th>
                <th>Назвние</th>
            </tr>
        </thead>
        <tbody>
            @if (!_items.Any())
            {
                <tr>
                    <td colspan="2">Нет данных</td>
                </tr>
            }
            else
            {
                foreach (var p in _items)
                {
                    <tr>
                        <td>@p.Article</td>
                        <td>@p.Name</td>
                    </tr>
                }
            }

        </tbody>
    </table>

@code {
    private IEnumerable<ProductNameDto> _items = new List<ProductNameDto>();

    protected override async Task OnInitializedAsync()
    {
        _items = await Db1Service.GetProductNames();
    }

}