<table class="table table-sm" style="min-width: 350px;">
    <thead class="table-dark">
    <tr>
        <th>Артикул</th>
        <th>Стоимость</th>
    </tr>
    </thead>
    <tbody>
    @if (Items is null)
    {
        <tr>
            <td colspan="2">Загрузка...</td>
        </tr>
    }
    else if (!Items.Any())
    {
        <tr>
            <td colspan="2">Нет данных</td>
        </tr>
    }
    else
    {
        foreach (var p in Items)
        {
            <tr>
                <td>@p.Article</td>
                <td>@p.Price</td>
            </tr>
        }
    }

    </tbody>
</table>

@code {

    [Parameter, EditorRequired]
    public IEnumerable<ProductPriceDto>? Items { get; set; }

}