@if (Products is null)
{
    <div>Загрузка...</div>
}
else
{
    <table class="table table-sm">
        <thead class="table-dark">
            <tr>
                <th>Артикул</th>
                <th>Назвние</th>
                <th>Количество</th>
                <th>Стоимость</th>
            </tr>
        </thead>
        <tbody>
            @if (!Products.Any())
            {
                <tr>
                    <td colspan="4">Нет данных</td>
                </tr>
            }
            else
            {
                foreach (var p in Products)
                {
                    <tr>
                        <td>@p.Article</td>
                        <td>@p.Name</td>
                        <td>@p.Quantity</td>
                        <td>@p.Price</td>
                    </tr>
                }
            }

        </tbody>
    </table>
}

@code {
    [Parameter, EditorRequired]
    public IEnumerable<ProductDto>? Products { get; set; }

}
